[mysqld]
[mysql]
max_allowed_packet=1g

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
character-set-server=latin1
collation-server=latin1_general_cs
max_connections=100
max_allowed_packet=1073741824
lower_case_table_names=1
sql_mode = NO_ENGINE_SUBSTITUTION
secure_file_priv=""

 
default-storage-engine=INNODB
innodb_large_prefix=ON
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=4M
innodb_buffer_pool_size=4096M
innodb_log_file_size=1024M
innodb_thread_concurrency=12
innodb_file_per_table=ON
innodb_fast_shutdown=1

[mysqld_safe] 
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
 
[mysqldump]
max_allowed_packet=1300M
